
  <div class="grid h-screen place-content-center bg-white px-4">
    <div class="text-center">
      
  
      <p class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">Has cerrado sesion!</p>
  
      <p class="mt-4 text-gray-500">Te esperaremos de vuelta</p>
  
      <a
        href="#"
        class="mt-6 inline-block rounded bg-indigo-600 px-5 py-3 text-sm font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring"
      >
        Vuelve al inicio
      </a>
    </div>
  </div>